@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

a{
    font-family:Questrial, sans-serif;
    font-weight: 800;
}

navbar-toggler{
    
}


/*------------------------------background pictures */
.index{
    height: 25vh;
    width: 100%;
    position: relative;
    background: url("images/headerfacebook.jpg")no-repeat center center ;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -O-background-size:cover;
    background-size:cover;    
}

/*------------------------------footer */


.social-networks { 
    text-align: center;
}

.social-networks, li {   
    display: inline;
}

.social-networks, i {
    font-size: 32px;
    margin: 1%;
    padding: 1%;
    color:#696666;
    
}

.ptext{
    color:#696666;
    text-align: center; 
    font-family: Questrial, sans-serif;
    font-size: 16px;
    padding: 1px;
}

.makerlink{
    color:black;
    text-align: center; 
    font-family: Questrial, sans-serif;
    font-size: 16px;

}