@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.text{

    margin: 5px;
    padding: 10px;
    font-family:'Rock Salt', cursive;
}

.horse{
    position: fixed;
    bottom: 0;
    right: 0;
}